<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.uamobilekeys" version="0.0.1">
   <name>UaMobileKeys</name>
   <js-module name="UaMobileKeys" src="www/UaMobileKeys.js">
      <clobbers target="cordova.plugins.UaMobileKeys" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="UaMobileKeys">
            <param name="android-package" value="cordova.plugin.uamobilekeys.UaMobileKeys" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
         <meta-data android:name="allowBackup" android:value="false" />
      </config-file>

      <source-file src="proguard.cfg" target-dir="./proguard.cfg" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
      <framework src="build-extras.gradle" custom="true" type="gradleReference" />
      <resource-file src="libs/mobilekeys-android-sdk-release-7.3.1.aar" target="libs/mobilekeys-android-sdk-release-7.3.1.aar" />
      <resource-file src="libs/mobilekeys-android-sdk-debug-7.3.1.aar" target="libs/mobilekeys-android-sdk-debug-7.3.1.aar" />
      <resource-file src="src/android/res/drawable-hdpi/ic_stat_vpn_key.png" target="src/android/res/drawable-hdpi/ic_stat_vpn_key.png" />
      <resource-file src="src/android/res/drawable-mdpi/ic_stat_vpn_key.png" target="src/android/res/drawable-mdpi/ic_stat_vpn_key.png" />
      <resource-file src="src/android/res/drawable-xhdpi/ic_stat_vpn_key.png" target="src/android/res/drawable-xhdpi/ic_stat_vpn_key.png" />
      <resource-file src="src/android/res/drawable-xxhdpi/ic_stat_vpn_key.png" target="src/android/res/drawable-xxhdpi/ic_stat_vpn_key.png" />
      <resource-file src="src/android/res/drawable-xxxhdpi/ic_stat_vpn_key.png" target="src/android/res/drawable-xxxhdpi/ic_stat_vpn_key.png" />
      <source-file src="src/android/UaMobileKeys.java" target-dir="src/cordova/plugin/uamobilekeys/UaMobileKeys" />
      <source-file src="src/android/UaMobileKeysSetup.java" target-dir="src/cordova/plugin/uamobilekeys/UaMobileKeysSetup" />
      <source-file src="src/android/UaMobileKeysApi.java" target-dir="src/cordova/plugin/uamobilekeys/UaMobileKeysApi" />
      <source-file src="src/android/UaUnlockNotification.java" target-dir="src/cordova/plugin/uamobilekeys/UaUnlockNotification" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="UaMobileKeys">
            <param name="ios-package" value="UaMobileKeys" />
         </feature>
      </config-file>

      <resource-file src="src/ios/SeosMobileKeysSDK-Debug/Pod/SeosMobileKeysSDK-Debug.podspec" />

      <podspec>
         <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
         </config>
         <pods use-frameworks="true">
            <pod name="SeosMobileKeysSDK-Debug" options=":path => '../uniAlltid test/ResourcesSeosMobileKeysSDK-Debug.podspec'" />
         </pods>
      </podspec>

      <source-file src="src/ios/UaMobileKeys.m" />
   </platform>
</plugin>