<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.uamobilekeys" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UaMobileKeys</name><js-module name="UaMobileKeys" src="www/UaMobileKeys.js"><clobbers target="cordova.plugins.UaMobileKeys" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="UaMobileKeys"><param name="android-package" value="cordova.plugin.uamobilekeys.UaMobileKeys" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/UaMobileKeys.java" target-dir="src/cordova/plugin/uamobilekeys/UaMobileKeys" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="UaMobileKeys"><param name="ios-package" value="UaMobileKeys" /></feature></config-file><source-file src="src/ios/UaMobileKeys.m" /></platform></plugin>